<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
	<title>Upcomer</title>
	<link rel="stylesheet" href="../resources/css/reset.css">
	<link rel="stylesheet" href="../resources/css/upcomer.css">
<body>
<header>
	<div id="header_wrapper">
		<div id="logo">
			<img src="../assets/slices/upcomer-logo.png">
		</div>
		<div id="nav">
			<ul>
				<li class="link"><a href="home.html">Home</a></li>
				<li class="link"><a>About</a></li>
			</ul>
		</div>
		<div id="social_icons">
			<ul>
				<li class="iconfb"><a href="https://facebook.com/upcomer"></a></li>
				<li class="icontwitter"><a href="https://twitter.com/upcomer"></a></li>
			</ul>
		</div>
	</div>
</header>
<div id="content_wrapper">
	<div id="content">
		<div id="description">
		 	<h2>Stay updated on upcoming products you love</h2>
		 		<label>
		 			<span>
		 				We made it a whole lot easier for you to always stay updated on all upcoming products you care about 
		 			</span>
		 			<span>
		 				Be the first to try Upcomer
		 			</span>
		 		</label>
		</div>
	</div>
	<div class="signup_container">
		<span class="coming_soon">Coming soon to Android and iOS first half of 2015</span>
		<div class="signup">
			<input type="email" value="" name="EMAIL" placeholder="Enter your Email">
			<input type="submit" value="Ok">
		</div>
	</div>
	<div id="scroll">
		<img src="../assets/slices/down-arrow.png">
	</div>
</div>
<div id="first_container">
	<div id="first_section">
		<div id="product_details">
			<section id="heading">
				<h2>Personalize your feed</h2>
			</section>
			<span>
				Choose your favourite products and catagories to get notified as soon as a new product is get announced
			</span>
		</div>
	</div>
	<section  id="imgbg">
		<div>
			<img src="../assets/slices/feed_bg.png">
		</div>
	</section>
</div>
<div id="second_container">
	<div id="second_section">
		<img src="../assets/slices/illustration1.png">
		<section class="product">
			<h3>All in one place</h3>
			<span>Follow your favourite products to get only the most important updates, such as release dates, reviews, specifications, giveaways and more in your personal feed</span>
		</section>
	</div>
	<div id="notification_div">
		<section class="product">
			<h3>Be the first to know</h3>
			<span>Get push notifications when a major event happens, such as when a new product is announced, beta sign up is possible, or a product is available for purchase</span>
		</section>
		<img src="../assets/slices/illustration2.png">
	</div>
</div>
<div id="sharing_content">
	<div id="share_options">
		<section>
			<span>
				The first 5000 people to signup will get an "early adopter priority" for 6 months which gives you a higher priority when we give away brand new products
			</span>
			<h3>
				Be the first to try Upcomer
			</h3>
		</section>
	</div>
	<div class="signup_container">
		<span class="coming_soon">Coming soon to Android and iOS first half of 2015</span>
		<div class="signup">
			<input type="email" value="" name="EMAIL" placeholder="Enter your Email">
			<input type="submit" value="Ok">
		</div>
	</div>
</div>



</div>
</body>
</html>