/*FONTS*/
@font-face {
	font-family: "Asap-Regular";
    src: url('../../assets/fonts/Asap-Regular.ttf'); 
}
@font-face {
	font-family: "Asap-Bold";
    src: url('../../assets/fonts/Asap-Bold.ttf'); 
}
/*HEADER*/
#logo{
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 40px;
}
#nav{
    float: left;
    margin-top: -51px;
    font-family: Asap-Bold;
    font-size: 18px;
    color: #333333;
}
#social_icons{
    float: right;
    margin-top: -53px;
    cursor: pointer;
}
#header_wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1650px;
    border-bottom: 1px solid #F5F5F5;
    box-shadow: 0px 0px 0px 0px;
    height: 82px;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
    padding-bottom: 11px;
}
#nav ul{
    padding: 0;
    margin: 27px 82px;
}
.link1{
    list-style: none;
    display: inline;
    margin-left: 20px;
}
.link2{
    list-style: none;
    display: inline;
    margin-left: 20px;
}
#nav li a{
    text-decoration: none;
    color: #999;
    font-size: 18px;
    font-family: Asap-Bold;
}
#social_icons ul{
    padding: 0;
    margin: 27px 82px;
}
#social_icons li a{
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#social_icons ul .iconfb{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -10px;
    background-image: url("../../assets/slices/fb-icon.png");
    background-repeat: no-repeat;
    margin-right: 10px;
}
#social_icons ul .icontwitter{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -10px;
    background-image: url("../../assets/slices/tweet-icon.png");
    background-repeat: no-repeat;
}


/*CONTENT*/
body {
    margin: 0 auto !important;
    left: 0;
    right: 0;
    width:100%;
    max-width: 1650px;
}
#content-section {
	width: 100%;
  	font-size: 20px;
  	font-family: "Asap-Regular";
  	color: #999999;
  	margin: 100px 0 70px;
}
.wrap-container {
	margin: 0 auto;
  	width: 87%;
}
#about-content1 .description {
	width: 58%;
	float: left;
}
.description span {
    line-height: 1.5em;
}
.desc-image {
	width: 35%;
	float: left;
}
.desc-image img {
  	float: left;
  	margin-left: 20%;
}
#about-content1,
#about-content2,
#about-content3 {
	float: left;
	width: 100%;
}
.description h2 {
	font-family: "Asap-Bold";
	font-size: 36px;
	color: #333333;
    margin: 30px 0px;
}
.head {
	font-family: "Asap-Bold";
	font-size: 22px;
	color: #333333;
}
#about-content2 {
	background-color: #f5f5f5;
    padding-bottom: 46px;
}
#about-content2 .sub-desc {
  	background-color: #fff;
  	padding: 20px 25px;
  	margin: 50px 10px;
  	position: relative;
  	border-radius: 10px;
  	float: left;
}
#about-content2 .sub-desc span.head {
    margin-top: 0px;
}
#about-content2 .sub-desc span {
    margin-top: 10px;
    float: left;
}
#about-content2 .sub-desc-left1,
#about-content2 .sub-desc-left2,
#about-content2 .sub-desc-right1,
#about-content2 .sub-desc-right2 {
  	width: 47%;
    position: relative;
}
.sub-desc-left1,
.sub-desc-left2 {
    float: left;
    padding-right: 2.7%;
    border-right: 7px solid #fff;
}
.sub-desc-right1,   
.sub-desc-right2 {
    float: right;
    padding-left: 2.7%;
    border-left: 7px solid #fff;
}
.sub-desc-right1 {
    margin-top: -86px;;
}
.sub-desc-left2 {
    margin-top: -100px;
}
.sub-desc-right2 {
    margin-top: -100px;
}
.sub-desc-left1 .border-circle {
    background-color: #ffc3bd;
    right: -24px;
    top: 41%;
}
.sub-desc-left2 .border-circle {
    background-color: #fa9d93;
    right: -24px;
    top: 41%;
}
.sub-desc-right1 .border-circle {
    background-color: #ed8074;
    left: -25px;
    top: 39%;
}
.sub-desc-right2 .border-circle {
    background-color: #ec675a;
    left: -25px;
    top: 39%;
}
#circle-2014,
#circle-now {
	background-color: #f5f5f5;
  	border: 7px solid #fff;
  	width: 100px;
  	height: 100px;
  	margin: 0 auto;
  	border-radius: 65px;
  	margin-top: -62px;
  	text-align: center;
  	position: relative;
}
#circle-2014 span,
#circle-now span {
	font-family: "Asap-Bold";
  	font-size: 22px;
  	margin: 33% auto;
  	float: left;
  	width: 100%;
}
#circle-now {
	background-color: #e74c3c;
	color: #ffffff;
	border: none;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 65px;
    margin-top: -47px;
    text-align: center;
    position: relative;
}
.tooltip-right {
  	border-bottom: 15px solid transparent;
  	border-top: 15px solid transparent;
  	border-left: 20px solid #fff;
  	right: 21px;
}
.tooltip-left {
  	border-bottom: 15px solid transparent;
  	border-top: 15px solid transparent;
  	border-right: 20px solid #fff;
  	left: 20px;
}
.tooltip-left,
.tooltip-right {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 44%;
}
.border-circle {
  	position: absolute;
  	width: 40px;
  	height: 40px;
  	border-radius: 40px;
  	z-index: 10;
}
#about-content3 {
	text-align: center;
}
#email-button {
	width: 100%;
  	position: relative;
  	float: left;
  	margin-top: 50px;
  	margin-bottom: 60px;
}
#email-button a {
	text-decoration: none;
  	padding: 20px 80px 20px 80px;
  	margin: 0 auto;
  	font-family: "Asap-Regular";
  	background-color: #2ecc71;
  	border-radius: 35px;
  	font-size: 20.3px;
  	color: #ffffff;
}

/*FOOTER*/
#footer,
#banner-footer {
    float: left;
    width: 100%;    
}
#banner-footer {
    background-color: #333;
}
.footer-wrap-container {
    margin: 0 auto;
    width: 100%;
}
#footer-banner-wrap {
    width: 605px;
    margin: 0 auto;
    margin-top: 25px;
}
#footer-banner-wrap img {
    float: left;
    margin-left: -100px;
}
#footer-banner-wrap span {
    color: #fff;
    font-size: 48px;
    font-family: "Asap-Bold";
    float: left;
    margin-top: 95px;
    margin-left: -69px;
}
#footer ul {
    margin: 35px auto;
    position: relative;
    width: 150px;
    height: 20px;
    padding: 0;
}
#footer ul .iconfb{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -10px;
    background-image: url("../../assets/images/fb-icon.png");
    background-repeat: no-repeat;
    margin-right: 10px;
    cursor: pointer;
}
#footer ul .icontwitter{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -10px;
    background-image: url("../../assets/images/tweet-icon.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 480px) {
    #circle-2014 {
        width: 80px;
        height: 80px;
        margin: -62px 0 0;
    }
    #circle-2014 span, 
    #circle-now span {
        font-size: 20px;
    }
    #about-content2 .sub-desc-left1,
    #about-content2 .sub-desc-left2,
    #about-content2 .sub-desc-right1,
    #about-content2 .sub-desc-right2 {
        margin-left: 43px;
        width: 65%;
        padding-left: 38px;
        position: relative;
        float: left;
        border-left: 7px solid #fff;
        margin-top: 0px;
    }
    .sub-desc-left1, .sub-desc-left2 {
        border-right: none;
    }
    .sub-desc span.head {
        font-size: 18px;
    }
    .sub-desc span {
        font-size: 14px;
    }
    #about-content2 .sub-desc {
        margin: 25px 9px 25px 0;
        padding: 15px 7px 15px 10px;
        width: 80%;
        border-left: 7px solid #fff;
    }
    .tooltip-left,
    .tooltip-right {
        left: 18px;
    }
    .tooltip-right {
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-right: 20px solid #fff;
        border-left: none;
    }
    .border-circle {
        left: -24px;
        top: 39%;
    }
    #circle-now {
        width: 70px;
        height: 70px;
        margin: -47px 0 0;
        margin-left: 10px;
    }
    #about-content3 .description {
        width: 85%;
        margin: 0 auto;
    }
    #email-button {
        width: 93%;
    }
    #email-button a {
        padding: 6% 10%;
        font-size: 17px;
    }
    #about-content3 {
        padding-bottom: 40px;
    }
    .footer-wrap-container {
        width: 95%;
    }
    #footer-banner-wrap {
        width: 100% !important:;
    }
    #footer-banner-wrap img {
        margin-left: 0px;
        height: 112px;
        width: 100px;
    }
    #footer-banner-wrap span {
        margin-left: -35px;
        font-size: 22px;
        margin-top: 38px;
    }
    
}
@media only screen and (max-width: 575px) {
    .footer-wrap-container #footer-banner-wrap {
        width: 60%;
    }
}
@media only screen and (max-width: 720px) {
    .wrap-container {
        width: 95%;
    }
    #about-content1 .description {
        width: 95%;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .description h2 {
        font-size: 28px;
    }
    #content-section {
        font-size: 16px;
    }
    .desc-image {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .desc-image img {
        width: 70%;
        float: none;
        margin: 0 auto;
    }
    #circle-2014 {
        width: 80px;
        height: 80px;
        margin: -62px 0 0;
    }
    #circle-2014 span, 
    #circle-now span {
        font-size: 20px;
    }
    #about-content2 .sub-desc-left1,
    #about-content2 .sub-desc-left2,
    #about-content2 .sub-desc-right1,
    #about-content2 .sub-desc-right2 {
        margin-left: 43px;
        width: 65%;
        padding-left: 38px;
        position: relative;
        float: left;
        border-left: 7px solid #fff;
        margin-top: 0px;
    }
    .sub-desc-left1, .sub-desc-left2 {
        border-right: none;
    }
    .sub-desc span.head {
        font-size: 18px;
    }
    .sub-desc span {
        font-size: 14px;
    }
    #about-content2 .sub-desc {
        margin: 25px 9px 25px 0;
        padding: 15px 7px 15px 10px;
        width: 80%;
        border-left: 7px solid #fff;
    }
    .tooltip-left,
    .tooltip-right {
        left: 18px;
    }
    .tooltip-right {
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-right: 20px solid #fff;
        border-left: none;
    }
    .border-circle {
        left: -24px;
        top: 39%;
    }
    #circle-now {
        width: 70px;
        height: 70px;
        margin: -47px 0 0;
        margin-left: 10px;
    }
    #about-content3 .description {
        width: 85%;
        margin: 0 auto;
    }
    #email-button {
        width: 93%;
    }
    #email-button a {
        padding: 6% 10%;
        font-size: 17px;
    }
    #about-content3 {
        padding-bottom: 40px;
    }
    .footer-wrap-container {
        width: 95%;
    }
    #footer-banner-wrap {
        width: 50%;
    }
    #footer-banner-wrap img {
        margin-left: 0px;
        height: 112px;
        width: 100px;
    }
    #footer-banner-wrap span {
        margin-left: -35px;
        font-size: 22px;
        margin-top: 38px;
    }
}    
@media only screen and (max-width: 1024px) {
    .wrap-container {
        width: 87%;
    }
    #about-content1 .description {
        width: 95%;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .desc-image {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .desc-image img {
        width: 40%;
        float: none;
        margin: 0 auto;
    }
    #circle-2014 {
        margin: -62px -9px 0px;
    }
    #about-content2 .sub-desc-left1,
    #about-content2 .sub-desc-left2,
    #about-content2 .sub-desc-right1,
    #about-content2 .sub-desc-right2 {
        margin-left: 43px;
        width: 100%;
        padding-left: 38px;
        position: relative;
        float: left;
        border-left: 7px solid #fff;
        margin-top: 0px;
    }
    .sub-desc-left1, .sub-desc-left2 {
        border-right: none;
    }
    #about-content2 .sub-desc {
        margin: 25px 9px 25px 0;
        padding: 15px 7px 15px 10px;
        width: 80%;
        border-left: 7px solid #fff;
    }
    .tooltip-left,
    .tooltip-right {
        left: 18px;
    }
    .tooltip-right {
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-right: 20px solid #fff;
        border-left: none;
    }
    .border-circle {
        left: -24px;
        top: 39%;
    }
    #circle-now {
        margin: -47px 0 0;
    }
    #about-content3 .description {
        width: 85%;
        margin: 0 auto;
    }
    #email-button {
        width: 98%;
    }
    #about-content3 {
        padding-bottom: 40px;
    }
}
